@model mvc_ska.Models.ViewModels.AccountView 

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div>
    @Html.Partial("CreatePartial", Model.Account)
    @Html.Partial("ListPartial", Model.Accounts)
</div>
</body>
</html>
